.content img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin: 12px 0;
}

.content p {
    color: #1f2937;
}

.content h2 {
    padding: 8px 0;
    font-size: 22px;
}

.content h3 {
    padding: 8px 0;
    font-size: 20px;
}

.content h4 {
    padding: 8px 0;
    font-size: 18px;
}

.content h5 {
    padding: 8px 0;
    font-size: 16px;
}

.content {
    height: auto;
}

.content p {
    text-align: justify;
}

@media only screen and (max-width: 1024px) {
    .ql-editor {
        padding: 12px 12px;
    }
}

@media only screen and (max-width: 768px) {
    .ql-editor {
        padding: 12px 0;
    }
}